#hero-img-conteiner {
    height: 480px;
    min-height: 480px;
    background-image: url('../../imgs/emerson-vieira-RO6Ke69Szhg-unsplash.jpg');
    background-size: cover;
    background-position-x: 100px;
    background-position-y: -280px;
    margin: 64px 0 64px 0;
    box-shadow: 0px 2px 4px 2px rgb(82, 82, 82);
}

#hero-gradient-conteiner {
    height: 100%;
    width: 50%;
    min-width: 500px;
    background: linear-gradient(to right, var(--black) 40%, #03030300);
}

#hero-content-conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-h1 {
    margin-left: 80px;
    width: 500px;
}

#hero-h4 {
    margin-left: 80px;
    margin-top: 24px;
    width: 500px;
    color: var(--khaki);

}