#background-conteiner {
    height: 92vh;
    background-image: url(../../imgs/matt-connor-9Qs_9n2oSJo-unsplash.jpg);
    background-color: var(--red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}

#grid-conteiner {
    height: 92vh;
}

#content-conteiner {
    height: 560px;
    grid-column: 5 / span 7;
    background-color: var(--white);
    align-self: center;
    /*border: var(--white) 8px solid;*/
    box-shadow: 12px 12px var(--black);
    border-radius: 4px;
}

#form-conteiner {
    height: 100%;
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#form-body {
    margin-top: 48px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 48px 0 24px 0;
}

.button-icons {
    width: 12px;
}

.page-change-button {
    width: 160px;
    padding: 12px;
    background-color: var(--red);
    border-radius: 4px;
    transition: 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.button-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

button:hover {
    opacity: 0.6;
}

.disabled {
    opacity: 0.6;
}

