#background-conteiner {
    height: 92vh;
    background-image: url(../../imgs/matt-connor-9Qs_9n2oSJo-unsplash.jpg);
    background-color: var(--red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}

#grid-conteiner {
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: column;
    column-gap: 24px;
}

#content-conteiner {
    height: 560px;
    grid-column: 5 / span 7;
    background-color: var(--white);
    align-self: center;
    /*border: var(--white) 8px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 12px 12px var(--black);
}

#title {
    margin: 24px;
}

#form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px;
    background-color: var(--red);
    display: flex;
    margin: 24px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.7;
}

