#header-grid-conteiner {
    height: 64px;
    background-color: var(--black);
    position: sticky;
    border-bottom: 4px solid var(--yellow);
}

#header-grid{
    height: 100%;
    align-items: center;
}

#navbar-icon {
    width: 32px;
    height: 32px;
}