#header-grid-conteiner {
    height: 8vh;
    background-color: var(--black);
}

#header-grid{
    height: 100%;
    align-items: center;
}

#navbar-icon {
    width: 32px;
    height: 32px;
    grid-column: 1 / 3;
}

#navbar-pages {
    height: 100%;
    display: flex;
    grid-column: 10 / 13;
    justify-content: flex-end;
    align-items: center;
}

.navbar-pages-link {
    margin-left: 24px;
    color: var(--white);
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    width: 320px;
    background-color: var(--black);
    position: fixed;
    top: 0px;
    left: -100%;
    transition: 0.5s;
}

.sidebar.active {
    left: 0px;
}

#sidebar-elements-conteiner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-li-element {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px gray solid;
}

.sidebar-li-element:hover {
    background-color: rgb(34, 34, 34);
    transition: 0.3s;
}

.sidebar-element-content {
    margin-left: 64px;
}

.li-title {
    text-transform: uppercase;
    color: var(--white);
}

.sidebar-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}