#header-grid-conteiner {
    height: 72px;
    background-color: var(--black);
    position: sticky;
}

#header-grid{
    height: 100%;
    align-items: center;
}

#navbar-icon {
    width: 32px;
    height: 32px;
}