.subtitle {
    margin-top: 12px;
}

.line {
    margin-top: 24px;
    background-color: gray;
    height: 1px;
}

#counters-area-conteiner {
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.label-img-counter-conteiner {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-div {
    display: flex;
}

.counter {
    height: 32px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-buttons {
    width: 32px;
    height: 32px;
    background-color: var(--red);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);

}
