* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: column;
    column-gap: 24px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

body {
    background-color: var(--white);
}

:root {
    --black: #030303;
    --mildBlack: #202020;
    --brown: #362525;
    --red: #A5402D;
    --green: #47a24a;
    --yellow: #F69F45;
    --khaki: #C9B49E;
    --white: #E6E6E6;
    --whiteClear: #fbfbfb;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 96px;
    font-weight: 700;
    line-height: 100%;
    color: var(--white);
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

h6 {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: var(--mildBlack);
}

label {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: var(--mildBlack);
}

.input {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 12px;
    background-color: var(--whiteClear);
    color: gray;
    border-bottom: 2px solid gray;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
}

.subtitle {
    font-size: 14px;
    color: grey;
}

.white {
    color: var(--white);
}

.italic {
    font-style: italic;
}